[report]

omit = 

    *__init__*
    *urls*
    */python?.?/*
    *renderers*
    *admin.py*
    *tests*
    *test_articles*
    */migrations/*
    *settings.py*
    *models*
    *backends*
    *permissions*
    *profiles/apps*
    *profiles/admin*
    *profiles/wsgi*
    *authors/wsgi*
    *manage.py
    *serializers.py
    *utils.py*
    *renderers.py*
    *favorite/apps*
    *like_articles*
    *article_filters*
    *signals*
    *imports*
    *share_articles*
    *test_bookmarks*
    *exceptions*
    *test_favorite*
    *test_profile*
    *article_views*

show_missing= True
