[report]

omit = 
    *__init__*
    *urls*
    */python?.?/*
    *renderers*
    *admin.py*
    *tests*
    */migrations/*
    *settings.py*
    *models*
    *backends*
    *permissions*
    *profiles/apps*
    *profiles/admin*
    *profiles/wsgi*
    *authors/wsgi*


show_missing= True


