[report]

omit = 
    *__init__*
    *urls*
    */python?.?/*
    *renderers*
    *admin.py*
    *tests*
    */migrations/*
    *settings.py*
    *models*
    *backends*
    *permissions*



show_missing= True


